$fsize: 1em;
$fcolor: #A6692D;;
$bgcolor:white;
$padding: 16px;

*{
	margin: 0;
	padding: 0;
}

.container{
	background-image: url('../sofa2.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100lvh;
	width: 100lvw;
}

.header{
	background-color: $bgcolor;
	height: 8rem;
	width: 100lvw;
	display: flex;
	align-items: center;
}

ul, li, a{
	display: inline-block;
	text-decoration: none;
	list-style: none;
	padding-left: 1em;
	color: $fcolor;
	font-family: Arial, Helvetica, sans-serif;
	font-size: $fsize ;
}







