$fsize: 1em;
$fcolor: #A6692D;;
$bgcolor:white;
$padding: 16px;
$family: Arial, Helvetica, sans-serif;
$textcolor: white;

*{
	margin: 0;
	padding: 0;
}



//media query
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	.header{
		background-color: $bgcolor;
		width: 100lvw;
		height: 130px;
		display: flex;
		align-items: center;
		justify-content: center;
		grid-gap: 60px;
		
	}
	.login{
	background-color: $fcolor;
	padding: 14px;
	font-family: $family;
	font-size: $fsize;
	color: white;
	}
	
	.logo{

		height: 80px;
		
	
	}
	i{
		height: 20px;
	}
	 .container{

	background-image: url('../sofa2.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 500px;
	width: 100lvw;
	background-color: gray;
	background-blend-mode: multiply;
	 }

	 .container-text{
		height: 500px;
		width: 100lvw;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $textcolor;
		text-align: center;
		
	 }
	 .head-text{
	font-size: 2em;
	color: white;
	padding-left: 2em;
	padding-right: 2em;
	font-family: $family;
	font-weight: bold;
	 }
	 .head-cap{
		font-family: $family;
		color: $textcolor;
		font-size: $fsize;
		letter-spacing: 1.6px;
		line-height: 20px;
		padding-left: 40px ;
		padding-right: 40px;
	}
	.shop-now{
		background-color: $fcolor;
		padding: 15px;
		font-family: $family;
		font-size: $fsize;
		color: white;
		margin-top: 10px;
		border: 1px solid white;
	}

	.content_1{
		display: block;
		padding-top: 40px;
		font-family: $family;
	}

	.box{
		
		height: auto;
		width: 100lvw;
		padding-top: 60px;
		
	
	
	}
	.s1{
		
		max-width: 100%;
		
	}
	
	.caption{
		color: $fcolor;
		font-size: 2em;
		text-align: center;

	}
	.mid-content{
		color: $fcolor;
		padding-top: 20px;
	}

	.mid-container{
		height: 250px;
		width: 100lvw;
		font-family: $family;
		padding: 20px;
	}
	.mid-content{
		font-size: 30px;
	}
	.mid-center{
		color: lightgrey;
	}
	.mid-content, .mid-center, .mid-bottom{
		padding: 10px;
		
	}
	.mid-bottom{
		line-height: 24px;
	}


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 990px) {
	
	
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
	
}





